html {
    overflow-x: hidden;
}
#app{
    padding-bottom: 50px;
}


/* Fade in animation */
.fade-enter-active, .fade-leave-active {
    transition: opacity .35s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/* Fade in animation */


/* Forms */
.form-group {
    text-align: left;
    font-size: 12px;
}

.btn-success {
    border-radius: 0;
    padding: 10px 25px;
}

.btn-success:disabled {
    opacity: 0.3;
}

/* Form */
